body{
	background-color: lightblue;
	color: midnightblue;
	font-family: fantasy;
	text-align: center;
	width: fit-content;
	align-content: center;
}

.button{
	shape-outside: ellipse();
	padding-top: 20px;
}

.title {
	font-family: monospace;
	text-align: center;
}

