body{
	background-color: lightblue;
	color: midnightblue;
	font: sans-serif;
	text-align: center;
	width: fit-content;
	align-content: center;

}

.button{
	padding-top: 20px;
}

.title {
	font: status-bar;
	text-align: center;
}
