body{
	background-color: lightblue;
	color: midnightblue;
	font: fantasy;
	text-align: center;
	width:600px;
	align-content: center;
}

.button{
	padding-top: 20px;
}

title {
	font: fantasy;
	text-align: center;
}
